{% extends 'base.html' %}



{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Name</title>
</head>
<body>
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning alert-dismissible show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
      
   {% endfor %}
    {% if name %}
      <h1>Hello {{name}} How are you!!</h1>
    {% else %}
       <h1>What's your Name</h1>
       <form method="POST">
            {{form.hidden_tag() }}

            {{ form.name.label(
              class="form-label"
            ) }}

            {{ form.name(
              class="form-control"
            ) }}

            <br>

            {{ form.submit(
              class="btn btn-secondary"
            ) }}

       </form>
    {% endif %}
</body>
</html>

{% endblock %}